@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* .titulo {

 font size: 76px;

} */

/* #meutitulo {

   font-size: 76px;

} */

h1 {

 font-size: 76px;   
 font-family: "inter";   

}

/* <h1 class="titulo">Login</h1> */